@charset "utf-8";
/* CSS Document */
/*Font Import*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Trocchi');
/*global styles*/
body{
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
	font-size: 80%;
}
p{
	text-indent: 4.7%;
	margin-top: 1%;
	margin-bottom: 1%;
}
/*@media only screen and (min-width: 1400px) {
	body{
		font-size: 110%;
		}
	h1{
		font-size: 2.5rem;
	}
	h2{
		font-size: 2rem;
	}
	h3{
		font-size: 2rem;
	}
	h4{
		font-size: 1.5rem;
	}
}*/
ul {
  margin: 0;
  padding: 0;
}

h1{
	font-family: 'Trocchi', serif;
	font-size: 2rem;
	color: white;
}
h2{
	font-family: 'Trocchi', serif;
	font-size: 1.5rem;
	color: white;
	
}
h3{
	font-family: 'Trocchi', serif;
	font-size: 1.5rem;
	padding-bottom: 2%;
	padding-top: 2%;
}
h4{
	font-family: 'Trocchi', serif;
	font-size: 1.0rem;
	padding-bottom: 2%;
	padding-top: 2%;
}h5{
	font-family: 'Trocchi', serif;
	font-size: 0.8rem;
	
}
/*@media only screen and (min-width: 1700px) {
	
	h1{
		font-size: 2.5rem;
	}
	h2{
		font-size: 2rem;
	}
	h3{
		font-size: 2rem;
	}
	h4{
		font-size: 1.5rem;
	}
}*/
@media only screen and (max-width: 800px) {
	h1{
		font-size: 1.5rem;
	}
}
@media only screen and (max-width: 600px) {
	h1{
		font-size: 1rem;
	}
}
@media only screen and (max-width: 800px) {
	h2{
		font-size: 1rem;
	}
}
@media only screen and (max-width: 600px) {
	h2{
		font-size: 0.75rem;
	}
}





/*header styles*/
.intro h1,h2{
	color: black;
}
.intro{
	background: #4AA464;
	margin-left: 4.7vw;
	margin-right: 4.7vw;
	margin-top: 5vh;
}
.intro p{
	width: 75%;
}
header {
	display: flex;
	justify-content: space-between;
}
.search{
	width: 21%;
	height: 2%;
    border: 1px solid black;
    font-size: 1em;
	margin-right: 5%;
	margin-top: 4%;
	margin-bottom: 1%;
	padding: 5px;
}
@media only screen and (max-width: 800px) {
	.search{
		width: 40%;
		height: 1.5%;
		padding: 3px;
	}
@media only screen and (max-width: 600px) {
	.search{
		width: 40%;
		height: 1%;
		padding: 1px;
	}
}
}
.logo{
	width: 25%;
	height: 4%;
	margin-left: 4.7vw;;
	margin-top: 2%;
}
.logo img{
	width: 100%;
	height: 100%;
}
@media only screen and (max-width: 800px) {
	.logo{
		width: 40%;
	}
}



/*Navigation styles*/
.navtop{
	display: flex;
	justify-content: space-between;
	width: 41.5vw;
	height: auto;
	float: right;
	margin-right: 4.7vw;
	padding-top: 1%;
	
}
.navbottom{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	width: 41.5vw;
	height: auto;
	float: right;
	margin-right: 4.7vw;
	padding-top: 1%;
	
	
}
@media only screen and (max-width: 800px) {
	.navtop, .navbottom{
		width: 70%;
		margin-left: 10%;
	}
}






/*link styles*/


a:link {
    color: black;
	text-decoration: none;
}
a:visited {
    color: black;
}
a:hover {
    background: #ff0000;
	color: white;
	
}
a:active {
    color: #FF0000;
}
.doclink{
	border-bottom: 1px solid black;
	font-weight: 400;
	background: white;
	margin-right: 1%;
	margin-top: 1%;
}
.calltoaction a {
    
	text-decoration: none;
}
.calltoaction{
	display: block;
	text-align: center;
	background-color: #FDFF00;
}
.socialcontact{
	display: flex;
	margin-left: 4.7vw;
	width: 10%;
	height: auto;
}
.socialcontact img{
	width: 100%;
	height: auto;
}







/*Image styles & main styles*/
#frontpageimage{
	width: 100vw;
	height: 60vh;
	background-image: url(../images/flow_background.png);
	background-repeat: no-repeat;
	text-align: center;
	margin-top: 3%;
	padding-top: 2%;
}
.docimages{
	width: 100%;
	height: auto;
}
img{
	margin-top: 2%;
	margin-bottom: 2%;
	border: 1px solid black;
}
/*About images*/
.aboutimage img{
	width: 100%;
	height: auto;
}

/*Project images*/
.projectimages{
	width: 100%;
	height: auto;
}





/*Gallery styles*/
.gallery{
	display: flex;
	flex-wrap: wrap;
	width: 71.4vw;
	height: auto;
	padding-top: 5%;
	padding-bottom: 5%;
}






/*project styles*/

.project{
	height: auto;
	width: 19vw;
	background: #D24345;
	margin-left: 4.7vw;
	margin-top: 5%;
}
@media only screen and (max-width: 1000px) {
	.project{
		width: 43vw;
		
	}
	.gallery{
		width: 100vw;
	}
}
@media only screen and (max-width: 800px) {
	.project{
		width: 70vw;
	}
	.gallery{
		width: 100vw;
		justify-content: center;
	}
}
@media only screen and (max-width: 600px) {
	.project{
		width: 80vw;
	}
	.gallery{
		width: 100vw;
		justify-content: center;
	}
	
}





/*Process styles*/
.process{
	height: auto;
	width: 19vw;
 	background: #D24345;
	margin-left: 4.7vw;
	margin-top: 5%;
	
	
}





/*Documentaion styles*/
.documentation{
	height: auto;
	/*width: 19vw;*/
	width: 100%;
 	background: #D24345;
	margin-left: 4.7vw;
	margin-top: 5%;
}
.column{
	column-count: 3;
}

@media only screen and (max-width: 1000px) {
	.documentation, .process{
		width: 43vw;
		
	}
	.gallery{
		width: 100vw;
	}
}
@media only screen and (max-width: 800px) {
	.documentation, .process{
		width: 70vw;
	}
	.gallery{
		width: 100vw;
		justify-content: center;
	}
}
@media only screen and (max-width: 600px) {
	.documentation, .process{
		width: 80vw;
	}
	.gallery{
		width: 100vw;
		justify-content: center;
	}
	
}





/*About styles*/
.abouttext{
	width: 42.7vw;
	background: #D24345;
	margin-left: 4.7vw;
	margin-top: 5%;
}
.aboutimage{
	width: 19vw;
	height: auto;
	margin-left: 4.7vw;
	margin-top: 5%;
}
.aboutlist{
	list-style-position: inside;
}






/*aside styles*/
.aside{
	background: #41B743;
	height: auto;
	width: 15vw;
	margin-right: 4.7vw;
	position: absolute;
	top: 57vh;
	right: 0%;
}
@media only screen and (max-width: 1000px) {
	.aside{
	display: none;
	}
}






/*Contact styles*/
.contactmap{
	margin-left: 4.7vw;
	margin-top: 5%;
	width: 42.7vw;
	height: auto;
}
.contactmap img{
	width: 100%;
	height: auto;
}
/*Form styels*/
.emailform {
	margin-left: 4.7vw;
	width: 19vw;
	margin-bottom: 5%;
	margin-top: 5%;
	
}

.emailform input,textarea {
	margin: 10px 0;
	border: 1px solid black;
}
.emailform label {
	margin: 10px 0;
	
}
form input {
	width: 70%;
	vertical-align: top;
}

#email {
	width: 80%;
	height: 300px;
}


input[type=submit] {
	width: 40%;
	margin-left: 5%;
	background-color: #D5F00F;
	padding-top: 12px;
	padding-bottom: 12px;
	border: none;
	cursor: pointer;
	color: #000000;
}

input[type=submit]:hover {
	background-color: #6F7104;
}






/*Footer styles*/
.border{
	height: 16px;
	width: 100%;
	background: #D5F00F;
}
.missionstatement{
	margin-left: 4.7vw;
	margin-top: 4%;
	text-indent: 0px;
	
}
.footerinfoleft{
	list-style-type: none;
	width: 19vw;
	margin-left: 4.7vw;
	margin-bottom: 2%;
	margin-top: 1%;
}

.footerinforight{
	width: 19vw;
	margin-left: 4.7vw;
	margin-bottom: 2%;
	margin-top: 1%;
}
@media only screen and (max-width:1000px) {
	.missionstatement{
		margin-top: 10%;
	}
}
@media only screen and (max-width: 800px) {
	.footerinfoleft, .footerinforight{
		margin-top: 2%;
	}
}
@media only screen and (max-width: 600px) {
	.footerinfoleft, .footerinforight{
		margin-top: 8%;
	}
	.missionstatement{
		margin-right: 4.7vw;
		margin-top: 14%;
	}
	footer{
		justify-content: space-between;
	}
}
footer{
	display: flex;
	line-height: 1.5;
}
.companyname{
	font-weight: 700;
}
footer p{
	text-align: center;
	margin-bottom: 2%;
	margin-right: 5%;
	margin-top: 2%;
}
@media only screen and (max-width: 800px) {
	footer p{
		margin-top: 2%;
		}
}
@media only screen and (max-width: 600px) {
	footer p{
		margin-top: 4%;
	}
}
